<div class="row">
  <div class="xs-col-12">
    <h2><%= "#{@league.name} Preferences" %></h2>
  </div>
</div>
<%= form_for :user, url: user_preferences_path, method: :put do |f| %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Competitor</th>
      </tr>
    </thead>
    <tbody>
      <% @competitors.each_with_index do |c, i| %>
        <tr>
          <% previous_preference = current_user.preferences.where(preference_type: "Competitor", preference_id: c.id) %>
          <% previous_rating = previous_preference.empty? ? 0 : previous_preference[0].amount %>
          <%= hidden_field_tag "user[preferences_attributes][#{i}][scale]", 2 %>
          <%= hidden_field_tag "user[preferences_attributes][#{i}][preference_type]", "Competitor" %>
          <%= hidden_field_tag "user[preferences_attributes][#{i}][preference_id]", c.id %>
          <td><%= check_box_tag "user[preferences_attributes][#{i}][amount]", 1, previous_rating == 1 %>  <%= c.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="form-group">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
